.wrapper
.row {
  *zoom: 1; }
  .wrapper
  .row:before, .wrapper
  .row:after {
    content: " ";
    display: table; }
  .wrapper
  .row:after {
    clear: both; }

@media (min-width: 770px) {
  nav .column-12 {
    height: 10vh; }

  .hero .row {
    height: 60vh; }

  .location-form-green {
    height: 36vh;
    background: #0fb24b; }

  .main {
    height: 205vh; }

  .numbers {
    height: 85vh; }

  .schedule {
    height: 250vh; }

  .location-form-gray {
    height: 35vh; }

  .faq {
    height: 120vh; }

  .startups {
    height: 85vh; }

  .carousel {
    height: 100vh; }

  .partners {
    height: 39vh; }

  .bottom-nav {
    height: 32vh; }

  .footer {
    height: 26vh; } }
@media screen and (min-width: 1000px) {
  nav .column-12 {
    height: 8vh; }

  .hero .row {
    height: 64vh;
    position: relative; }

  .location-form-green {
    display: none; }

  .main {
    height: 105vh; }

  .numbers {
    height: 43vh; }

  .schedule {
    height: 210vh; }

  .location-form-gray {
    height: 26vh; }

  .faq {
    height: 88vh; }

  .startups {
    height: 66vh; }

  .carousel {
    height: 93vh; }

  .partners {
    height: 37vh; }

  .bottom-nav {
    height: 32vh; }

  .footer {
    height: 26vh; } }
.text-black {
  color: #414141; }

.bg-black {
  background-color: #414141; }

.text-green {
  color: #0fb24b; }

.bg-green {
  background-color: #0fb24b; }

.text-gray {
  color: #808080; }

.bg-gray {
  background-color: #808080; }

.text-lightgray {
  color: #f4f4f4; }

.bg-lightgray {
  background-color: #f4f4f4; }

.text-photogreen {
  color: #2c8255; }

.bg-photogreen {
  background-color: #2c8255; }

.text-photomint {
  color: #74d295; }

.bg-photomint {
  background-color: #74d295; }

.text-footerblack {
  color: #262626; }

.bg-footerblack {
  background-color: #262626; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

/*global reset and box-sizing*/
.column-1 {
  width: 8.3333333333%;
  height: auto; }

.column-2 {
  width: 16.6666666667%;
  height: auto; }

.column-3 {
  width: 25%;
  height: auto; }

.column-4 {
  width: 33.3333333333%;
  height: auto; }

.column-5 {
  width: 41.6666666667%;
  height: auto; }

.column-6 {
  width: 50%;
  height: auto; }

.column-7 {
  width: 58.3333333333%;
  height: auto; }

.column-8 {
  width: 66.6666666667%;
  height: auto; }

.column-9 {
  width: 75%;
  height: auto; }

.column-10 {
  width: 83.3333333333%;
  height: auto; }

.column-11 {
  width: 91.6666666667%;
  height: auto; }

.column-12 {
  width: 100%;
  height: auto; }

/*for fluid images*/
img {
  max-width: 100%; }

.wrapper
.row {
  width: 100%; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media (max-width: 769px) {
  nav .column-12 {
    height: 10vh; }

  .logo-img {
    height: 40px; }

  .hero .row {
    height: 60vh;
    background-image: url("../img/bg-hero.png");
    background-size: cover;
    background-position: center; }

  .hero-head {
    color: white;
    font-size: 2em;
    line-height: 1.1em;
    padding-bottom: 15px;
    letter-spacing: 1px; }

  .hero-p {
    color: white;
    font-size: 1em;
    line-height: 1.6em; }

  .location-form-green {
    height: 38vh;
    background: #0fb24b;
    height: 36vh;
    background: #0fb24b; }

  .location-form-holder {
    text-align: center;
    color: white;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%; }

  .location-form-holder p {
    width: auto; }

  .location-top-text {
    font-weight: lighter; }

  .location-input {
    background: none;
    border-radius: 7px;
    border: 2px white solid;
    padding: 1rem;
    float: left;
    font-size: 1.3rem;
    clear: both; }

  .location-submit-button {
    background: white;
    font-size: 1.3rem;
    padding: 1rem;
    float: right; }

  .location-bottom-text {
    clear: both;
    font-size: 1.25em;
    font-weight: lighter; }

  .event-info {
    margin-top: 8%; }

  .main {
    height: 290vh;
    text-align: center;
    padding: 20px; }

  .main-title {
    font-size: 1.45em;
    line-height: 1.25em;
    margin-top: 10px;
    margin-bottom: 20px; }

  .main-text {
    font-size: 1.03em;
    color: #808080;
    line-height: 1.5em;
    margin-bottom: 40px; }

  .card {
    background: red;
    width: 100%;
    margin-bottom: 10%; }

  .card img {
    padding: 5px; }

  .img-container {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%; }

  .numbers {
    height: 72vh; }

  .schedule {
    height: 500vh; }

  .location-form-gray {
    height: 40vh; }

  .faq {
    height: 220vh; }

  .startups {
    height: 95vh; }

  .carousel {
    height: 110vh; }

  .partners {
    height: 50vh; }

  .bottom-nav {
    height: 40vh; }

  .footer {
    height: 26vh; } }

/*# sourceMappingURL=input.css.map */
