@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin location-form-green-small {
  height: 38vh;
  background: #0fb24b;
}
@mixin location-form-green-medium {
  height: 36vh;
  background: #0fb24b;
}
@mixin location-form-green-large {
  // position: absolute;
  // top: 60%;
  // height: 20px;
  // z-index: 0;
  display: none;
}

$breakpoint-tablet: 770px;
@media (min-width: $breakpoint-tablet) {
  nav .column-12 {
    height: 10vh;
  }
  .hero .row {
    height: 60vh;
  }
  .location-form-green {
    @include location-form-green-medium;
  }
  .main {
    height: 205vh;
  }
  .numbers {
    height: 85vh;
  }
  .schedule {
    height: 250vh;
  }
  .location-form-gray {
    height: 35vh;
  }
  .faq {
    height: 120vh;
  }
  .startups {
    height: 85vh;
  }
  .carousel {
    height: 100vh;
  }
  .partners {
    height: 39vh;
  }
  .bottom-nav {
    height: 32vh;
  }
  .footer {
    height: 26vh;
  }
}

@media screen and (min-width: 1000px) {
  nav .column-12 {
    height: 8vh;
  }
  .hero .row {
    height: 64vh;
    position: relative;
  }

  .location-form-green {
    @include location-form-green-large;
  }
  .main {
    height: 105vh;
  }
  .numbers {
    height: 43vh;
  }
  .schedule {
    height: 210vh;
  }
  .location-form-gray {
    height: 26vh;
  }
  .faq {
    height: 88vh;
  }
  .startups {
    height: 66vh;
  }
  .carousel {
    height: 93vh;
  }
  .partners {
    height: 37vh;
  }
  .bottom-nav {
    height: 32vh;
  }
  .footer {
    height: 26vh;
  }
}


$colors: (
  'black':$black,
  'green':$green,
  'gray':$gray,
  'lightgray':$lightgray,
  'photogreen':$photogreen,
  'photomint':$photomint,
  'footerblack':$footerblack,
);

@each $color, $hex in $colors {
  .text-#{$color}
  {
    color: $hex;
  }
  .bg-#{$color}
  {
    background-color: $hex;
  }
}
