/*global reset and box-sizing*/


@for $i from 1 through $grid-columns {
  .column-#{$i} {
    width: 100% / $grid-columns * $i;
    height: auto;
  }
}


/*for fluid images*/
img {
  max-width: 100%;
}

@mixin bg-img {
  background-size: cover;
  background-position: center;
}
